@import "tailwindcss";

@import "@fontsource-variable/ibm-plex-sans";

@import "@fontsource/ibm-plex-mono/400.css";
@import "@fontsource/ibm-plex-mono/500.css";
@import "@fontsource/ibm-plex-mono/600.css";
@import "@fontsource/ibm-plex-mono/700.css";

@theme inline {
  /* Colors */
  --color-accent: oklch(0.358 0.0227 245.93);
  --color-green: oklch(0.7017 0.2234 144.59);
  --color-muted: oklch(0.3 0.0352 248.63);
  --color-red: oklch(0.6356 0.2501 22.93);

  /* Fonts */
  --font-ibm: "IBM Plex Sans Variable", sans-serif;
  --font-ibm-mono: "IBM Plex Mono", monospace;
}
