---
import Badge from "./badge.astro";
---

<section class="flex flex-col gap-y-3">
  <h2 class="text-xl font-bold">Skills</h2>
  <div class="flex flex-wrap gap-1">
    <Badge>JavaScript/TypeScript</Badge>
    <Badge>React/Next.js</Badge>
    <Badge>Svelte/SvelteKit</Badge>
    <Badge>Astro</Badge>
    <Badge>Tailwind CSS</Badge>
  </div>
</section>
